<button class="refresh" value="">Refresh</button>
<ul>
  <% feeds.each(function (feed) { %>
      <li><a href="feeds/<%= feed.escape("id") %>" class="feed"
        data-id="<%= feed.escape("id") %>"><%= feed.escape("title") %></a>
      </li>
  <% }); %>
</ul>

